CIRCLE_API_KEY=
CIRCLE_WALLET_ID=
CIRCLE_ENTITY_SECRET=
GCP_PROJECT_ID=
DESTINO_PAGO_ADDRESS=
PORT=8080
EXPLORER_URL_TEMPLATE=https://amoy.polygonscan.com/tx/{tx}
ECORI_SERVICE_SECRET=cambia-esto-por-un-secreto-largo
